.CenterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.Box {
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 400px; 
}

.Button {
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: plum; 
  color: black; 
  border: none;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
}

