.CenterBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('./starry\ night.png'); 
  background-size: cover;
  background-position: center;
}

.Box {
  border: 2px solid #ccc;
  padding: 20px;
  text-align: center;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8); 
}

.Button {
  font-size: 16px;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: lightpink; 
  color: black; 
  border: none;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
}

